[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-configurations = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-model-utils = "*"
django-filter = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
